<!-- SignUp Form -->
<div class="container">
    <h2>New User SignUp Form</h2>
    <form #signupForm="ngForm" (ngSubmit)="OnFormSubmitted(signupForm)">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" class="form-control" id="fullName" name="fullName" ngModel required>
      </div>
      
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email"  name="email" ngModel required>
      </div>
      
      <!-- Phone Number Input -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ngModel required>
      </div>
      <!-- Mode -->
      <div class="form-group">
        <label for="preferred mode">Preferred mode:</label>
        <input type="text" class="form-control" id="preferredMode" name="preferredMode" ngModel required>
      </div>
      
      <!-- Location Input -->
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" name="location" ngModel required>
      </div>
      
      <!-- Age Input -->
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" name="age" ngModel required>
      </div>
      <div class="form-group">
        <label for="UserName">User Name:</label>
        <input type="text" class="form-control" id="userName" name="userName" ngModel required>
      </div>
      <div class="form-group">
        <label for="password">Create Password:</label>
        <input type="password" class="form-control" id="password" name="password" ngModel required>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirm Password:</label>
        <input type="password" class="form-control" id="cpassword" name="password" ngModel required>
      </div>
      <!-- Submit Button -->
      c<button type="submit" class="btn btn-primary">Sign Up</button>
      <button type="reset" class="btn btn-secondary">Reset </button>
    </form>
  </div>
  